VITE_FIREBASE_API_KEY=AIzaSyC9Mmi2kpizV6_8nlNJxLJKM29mVsuw-PM
VITE_FIREBASE_AUTH_DOMAIN=kentehaul-b1cb5.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kentehaul-b1cb5
VITE_FIREBASE_STORAGE_BUCKET=kentehaul-b1cb5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=761348006440
VITE_FIREBASE_APP_ID=1:761348006440:web:567ab1b48f0f6c5efc8b1d
VITE_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
